@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h3 class="display-4">Shivam Bajaj</h3>

    <form>
          <input type="number" name="left" placeholder="Enter a number" />
        - <input type="number" name="righ" placeholder="Enter a number" /> <br>
        <output> Output: @Model </output> 
        <input type="submit" value="Calculate" />
    </form>


</div>

@section intropage
{
    <p align ="center">
        Hello, My name is Shivam Bajaj. I like to make Web and Mobile Application.
        This is my first web application of this semester, hope you like it!
    <p>
}

